body
{
    background: #bbb;
	color: #222;
    font-family:Verdana, sans-serif;
}

.float
{
	float: left;
}

.rounded {
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}

div#header
{
    font-family:'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	height: 120px;
    text-align: center;
    background-image: url('/static/images/headerbg.png');
    background-repeat: repeat-x;

    /* Make background extend all the way: */
    margin-left: 0;
    margin-right: 0;
    width: 960px;
    margin-bottom:2em;
    color: #000; /* Make subheading match logo */
}

div#messages {
    text-align: center;
    margin-bottom: 1em;
}

div#messages ul {
    margin-bottom: 0;
}

div#messages li {
    margin-left: 0;
    border: 1px solid #ccc;
}

div#messages li.error {
    background: #fcc;
}

div#messages li.success {
    background: #cfc;
}

div#main_container
{
    background: #fff;
    padding-bottom: 1em;
}

div#content {
    /* padding: 1em; breaks 960 */
}

div.intro {
    font-size:120%;
    text-align:justify;
}

div.signup {
    text-align:center;
}

div.signup h1 a {
    font-size: 200%;
    font-variant:small-caps;
}

div.signup div.cool_companies img {
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 1em;
}

div#contact_us {
    margin-top: 1em;
    text-align: center;
}

div#footer {
    color:#fff;
    font-size:80%;
    text-align:center;
    width:100%;
    margin-top: .5em;
    margin-bottom: .5em;
}

div#footer a {
    color:#fff;
}

table.internal  {
    text-align: left;
}

/* Below: a bunch of styles from Django admin */

table.internal tbody td:first-child {
    border-left:0 none;
    border-right:1px solid #DDDDDD;
}

table.internal tbody td {
    border-left:1px solid #DDDDDD;
}

table.internal th {
    font-weight:bold;
    text-align:left;
}

table.internal td, table.internal th {
    border-bottom:1px solid #EEEEEE;
    font-family:"Lucida Grande",Verdana,Arial,sans-serif;
    font-size:11px;
    line-height:13px;
    padding:5px;
    vertical-align:top;
}

table.internal thead th {
    white-space:nowrap;
}

table.internal thead th, table.internal tfoot td {
    color:#666666;
    font-size:11px;
}

.filterbox { 
    border: 1px solid grey;
}

.filterbox h3 {
    font-size: 12px;
    font-weight: bold;
}

.filterbox li {
    list-style-type:none;
    margin-left:5px;
    padding-left:0;
}

.filterbox li.selected {
    border-left:5px solid #CCCCCC;
    margin-left:0;
}

.filterbox li.selected a {
    color:blue !important;
}

.filterbox a:link, .filterbox a:visited {
    text-decoration:none;
}

.filterbox a {
    color:#222;
}

