## HOW TO GENERATE:
#root@ubuntu:~# debconf-get-selections | grep grub

grub-pc grub-pc/kopt_extracted  boolean false
grub-pc grub2/kfreebsd_cmdline  string  
grub-pc grub-pc/install_devices multiselect 
# Remove GRUB 2 from /boot/grub?
grub-pc grub-pc/postrm_purge_boot_grub  boolean false
grub-pc grub2/linux_cmdline string  
grub-pc grub-pc/install_devices_empty   boolean true
grub-pc grub2/kfreebsd_cmdline_default  string  quiet
grub-pc grub-pc/install_devices_failed  boolean false
grub-pc grub-pc/install_devices_disks_changed   multiselect 
grub-pc grub2/linux_cmdline_default string  quiet splash
grub-pc grub-pc/chainload_from_menu.lst boolean true
grub-pc grub-pc/hidden_timeout  boolean true
grub-pc grub-pc/timeout string  10


