h1, h2, h3, h4, h5, h6, body {
    color: #333;
}

ul.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    background-color: red;
    color: white;
    display: block;
    font-size: 10px;
    margin: 0 0 3px;
    padding: 4px 5px;
}
